{% extends 'conteneur.html' %} {% block content %}

<br>
<div class="container" id="accueil">
    <br/>

    <h1>Panthéonisé·e·s</h1>
    <div class="panoramaImage"> <img src="static/images/fronton.jpg" width="100%"></div>
    <div class="homeText">
        <p>Commençant avec la Révolution française, la panthéonisation est une tradition reprise des Égyptiens, reprise par les Grecs ainsi que les Romains. Il s'agit de donner à une personne l'hommage ultime de <i>grand homme</i> de la nation française.
            L'hommage ainsi que la cérémonie varient suivant la période de l'histoire française.
        </p>
        <p>Au moment de la création du concept de Panthéon français, c'est l'assemblée constitutante qui prend la décision de panthéoniser une personne. La Convention prend ensuite le relais pour le choix de l'inhumation de Jean-Jacques Rousseau ainsi que
            pour retirer Mirabeau en 1794 et plus tard Marat. Pendant le Premier Empire, Napoléon s'attribue le privilège tandis que sous les Troisième et Quatrième Républiques, ce sont les députés qui proposent et décident sous la forme d'une loi. Depuis
            la Cinquième République, cette prérogative revient au président de la République. La cérémonie avec la remontée de la rue Soufflot, le discours, l'entrée solennelle met autant en avant le président de la République que la personne qu'il souhaite
            honorer.
        </p>
        <p>Dédié aux personnes exceptionnelles,
            <i>"aux grands hommes de la patrie reconnaissante"</i>, le Panthéon accueille, à ce jour, l'inhumation de soixante-quatorze hommes et quatre femmes. À travers ce site, vous pouvez découvrir les hommes et les femmes qui reposent dans ce monument
            situé dans le 5
            <sup>e</sup> arrondissement de Paris.</p>
    </div>
    <br/>
    <h5 class="homeSubtitles">Architecture du bâtiment</h5>
    <hr class="style-one" />
    <div class="homeText">
        <img src="static/images/plan_soufflot.png" class="float-right homeImages" width=" 50% ">
        <p>Le Panthéon est un monument de style néo-classique situé au coeur du Quartier latin de Paris, sur la montagne Sainte-Geneviève. Au XVIIIe siècle, à l'origine prévu pour être église.</p>
        <p>Le Panthéon est un bâtiment de 110m de long et 84m de large. La façade principale est décorée d'un portique aux colonnes corinthiennes. Le fronton triangulaire, représentant la Patrie donnant la Liberté et protégeant les Sciences et l'Histoire,
            a été réalisé par David d'Angers.</p>
        <p>L'édifice, en forme de croix grecque, est surmontée d'un dôme de 83m reprenant la façade de Panthéon de Rome, construit au Ier siècle av. J-C. L'intérieur est décoré par des peintres académiques tels que Puvis de Chavannes, Léon Bonnat ou encore
            Cabanel. La crypte, quant à elle, couvre toute la surface de l'édifice et est constituée de quatre galeries, une sous chaque bras de la nef.
        </p>
        <p>Jacques-Germain Soufflot est l'architecte de ce bâtiment, il est assisté par deux ingénieurs : Émiland Gauthey et Jean-Baptiste Rondelet qui a achevé le monument à la mort de l'architecte en 1780. Soufflet a composé le bâtiment en puisant dans
            différents registres architecturaux : le gothique, le byzantin, le classique ainsi que le gréco-romain. Le Panthéon est, cependant, d'une manière générale classé comme néo-classique notamment pour sa période de construction. </p>
    </div>
    <div style="margin-left:300px">
        <iframe frameborder="0" height="550" scrolling="no" src="https://atelier.leparisien.fr/widgets/ide/pantheon/" width="100%" sandbox="allow-scripts allow-same-origin allow-forms" class="width_full">
            </iframe>
        <a class="backPageLink" href="https://www.leparisien.fr/politique/interactif-les-pantheonises-en-chiffres-26-05-2015-4804849.php">
        Source de cette carte interative</a>

    </div>
</div>
<br> {% endblock content %}