{% extends 'conteneur.html' %} {% block content %}

<div>
    <br>
    <br>
    <br>
    <div class="container">
        <br />
        <h1 class="titre">{%block titre %}Ajouter un.e Panthéonisé.e{% endblock titre %}</h1>
        <hr class="style-one" />
        <p class="infoFormText">Les champs marqués d'un astérix (*) sont obligatoires.
        </p>
        {% with messages = get_flashed_messages(with_categories=true) %} {% if messages %} {% for category, message in messages %}
        <p class="alert flaskMessage" role="alert" style="padding-bottom: 10px;">{{ message }}</p>
        {% endfor %} {% endif %} {% endwith %}
        <form class="form-inline" enctype="multipart/form-data" action="" method="POST">
            <table summary="Formulaire de modification">
                <tbody class="personText ">
                    <tr>
                        <td class="personLabel ">Nom*</td>
                        <td><input class="searchInput" name="name" type="text"></td>
                    </tr>
                    <tr>
                        <td class="personLabel ">Prénoms*</td>
                        <td><input class="searchInput" name="firstname" type="text"></td>
                    </tr>
                    <tr>
                        <td class="personLabel ">Année de naissance*</td>
                        <td><input class="searchInput" name="birthDate" type="text"></td>
                    </tr>
                    <tr>
                        <td class="personLabel ">Date de décès*</td>
                        <td><input class="searchInput" name="deathDate" type="text"></td>
                    </tr>
                    <tr>
                        <td class="personLabel ">Date de panthéonisation*</td>
                        <td><input class="searchInput" name="pantheonisationDate" type="text"></td>
                    </tr>
                    <tr>
                        <td class="personLabel ">Status*</td>
                        <td><input class="searchInput" name="status" type="text"></td>
                    </tr>
                    <tr>
                        <td class="personLabel ">Genre</td>
                        <td><input class="searchInput" name="sex" type="text"></td>
                    </tr>
                    <tr>
                        <td class="personLabel ">Lien wikipédia*</td>
                        <td><input class="searchInput" name="wikiLink" type="text"></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            <button class="searchSubmit" type="submit">valider</button></td>
                    </tr>
                </tbody>
            </table>
        </form>
    </div>
    <br>
    <br>
</div>

{% endblock content %}