{% extends 'conteneur.html' %} {% block content %}

<div>
    <br>
    <br>
    <br>
    <div class="container">
        <h1 class="resultsTable"><b>{{result.name}}</b>, {{result.firstname}}</h2>
            <table summary="Informations">
                <tbody class="personText ">
                    <tr>
                        <td class="personLabel ">Année de naissance</td>
                        <td>{{result.birth}}</td>
                    </tr>
                    <tr>
                        <td class="personLabel ">Date de décès</td>
                        <td>{{result.death}}</td>
                    </tr>
                    <tr>
                        <td class="personLabel ">Date de panthéonisation</td>
                        <td>{{result.pantheonisation}}</td>
                    </tr>
                    <tr>
                        <td class="personLabel ">Status</td>
                        <td>{{result.status}}</td>
                    </tr>
                    <tr>
                        <td class="personLabel ">En savoir plus</td>
                        <td>{{result.wiki_link}}
                        </td>
                    </tr>
                    <tr>
                        <td class="personLabel">Portrait</td>
                        <td>
                            {% if result.image_id.portrait_path %}Image enregistrée {%else%} Aucune {%endif%}
                        </td>

                    </tr>
                    <tr>
                        <td class="personLabel ">Tombe</td>
                        <td>
                            {% if result.image_id.tomb_path %}Image enregistrée {%else%} Aucune {%endif%}
                        </td>
                    </tr>

                </tbody>
            </table>

            <div class="border border-danger" style="margin-top:30px ; padding-left: 250px ; padding-top:10px">
                <p>Êtes-vous sûr.e de vouloir supprimer cette personne de la base de données ?</p>
                <form class="form-inline" style="padding-bottom: 10px; padding-left:170px" enctype="form-data" action="" method="POST">
                    <table summary="Formulaire de suppression">
                        <td><button class="searchSubmit" type="submit" name="delete">supprimer</button></td>
                        </td>
                        <td>
                            <button class="searchSubmit" type="submit" name="cancel">annuler</button></td>
                        </tr>
                        </tbody>
                    </table>
                </form>
            </div>
    </div>
    <br>
    <br>
    <br>
    <br>{% endblock content %}