<!------------------ Framework Bootstrap ----------------------->

<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css')}}">

<!------------------ CSS global ----------------------->

<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">

<!-------------------- Fonts Google ---------------------------->

<link href="https://fonts.googleapis.com/css?family=Bree+Serif|Bellota+Text|Cormorant+Garamond|Nunito|Rubik&display=swap" rel="stylesheet">